<!DOCTYPE html>
<html>
    <head>
      <title>AutoProdaja</title>
       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">
       <link rel="stylesheet" href="/stylesheets/app.css">
       <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
       <script src="https://cdn.zingchart.com/zingchart.min.js"></script>

        <script>
          $(document).ready(function(){
              $("select#carbrand").change(function(){
                  var options = []
                  var selectedBrand = $(this).children("option:selected").val();
                  //alert("You have selected the country - " + selectedBrand)
            var select = document.getElementById("selectNumber");

              options = selectedBrand == "audi" ?  ["a1", "a2", "a3", "q2", "Q3", ""]
                     : selectedBrand == "bmw"  ? ["serija 1", "serija 2", "serija 3", "serija 4", "serija 5", "serija 6", ""]
                     : selectedBrand == "ford"  ? ["escort", "explorer", "fiesta", "focus", "mondeo", ""]
                     : selectedBrand == "fiat"  ? ["Bravo", "punto", "linea", "panda", "tipo", "uno", ""]
                     : selectedBrand == "honda"  ? ["accord", "civic", "cr-v", "ostali"]
                     : selectedBrand == "jeep"  ? ["cherokee", "commander", "compass", "grand cherokee", "renegade", ""]
                     : selectedBrand == "kia"  ? ["ceed", "pride", "rio", "shuma", "spectra", "sportage", ""]
                     : selectedBrand == "land rover"  ? ["defender", "discovery", "freelander", "range rover", ""]
                     : selectedBrand == "mazda"  ? ["2", "3", "6", "bt-50", ""]
                     : selectedBrand == "mercedes"  ? ["a-klasa", "b-klasa", "c-klasa", "e-klasa", "serija 100","s","gle coupe", ""]
                     : selectedBrand == "nissan"  ? ["350z", "juke", "micra", "navara", "qashqai", ""]
                     : selectedBrand == "opel"  ? ["ascona", "astra", "corsa", "insignia", "kadett", "vectra", ""]
                     : selectedBrand == "peugeot"  ? ["206", "207", "306", "406", ""]
                     : selectedBrand == "porche"  ? ["carrera", "cayenne", "cayman", "panamera", ""]
                     : selectedBrand == "seat"  ? ["altea", "cordoba", "ibiza", "leon", ""]
                     : selectedBrand == "skoda"  ? ["fabia", "felicia", "octavia", "superb", ""]
                     : selectedBrand == "volkswagen"  ? ["beetle", "golf I", "golf II", "golf III", "golf IV", "golf V", ""]
                     : selectedBrand == "toyota"  ?  ["auris", "avensis", "corolla", "yaris", ""]
                     : selectedBrand == "volvo"  ? ["s40", "s60", "s90", "v40", "v90", ""]
                     : defaultValue;

              var selectedClassName = "." + selectedBrand;
              $(select).find("option:not("+selectedClassName+"):not(#defaultmodel)").remove()

                   for(var i = 0; i < options.length; i++) {
                       var  opt = options[i];
                       var el = document.createElement("option");
                       el.textContent = opt;
                       el.value = opt;
                       el.classList.add(selectedBrand);
                       select.appendChild(el);
                   }

              });

          });
        </script>
    </head>

    <body>
    <meta name=”viewport” content=”width=device-width, initial-scale=1″>
        <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/carssale">AutoProdaja</a>
            </div>

            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav"></ul>
                <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <% if(!curruser){ %>
                    <li><a href="/signup">SignUp <i class="fas fa-user-plus"></i></a></li>
			              <li><a href="/signin">SignIn <i class="fas fa-user"></i></a></li>
                    <% } else { %>
                   <li>
                     <% if(curruser.role=="admin"){ %>
                       <a href="/admin"> Hello, <%= curruser.firstname %> </a>
                         <% } else { %>
                            <a href="/profil"> Hello, <%= curruser.firstname %> </a>
                             <% } %>
                   </li>
                   <li><a href="/signout">SignOut <i class="fas fa-sign-out-alt"></i></a></li>
                   <% } %>
                </ul>
                </div>
            </div>
        </div>
    </nav>
     <div class="container">
         <% if(success && success.length>0) { %>
         <div class="alert alert-success" role="alert">
             <%= success %>
         </div>
     <% } %>
     <% if(error && error.length>0) { %>
         <div class="alert alert-danger" role="alert">
             <%= error %>
         </div>
          <% } %>
    </div>
