<% include includes/header.ejs %>
<div class="container">
    <div class="row">
        <h1 style="text-align:center;">Dodaj oglas auta!</h1>
        <div style="width: 30%; margin:20px auto;">
            <form action="/carssale" method="POST" id="add" enctype="multipart/form-data">
                <% include includes/carsform.ejs %>                    
            </form>
            <a  href="/carssale">Vrati se nazad</a>
        </div>
    </div>
</div>
<% include includes/footer.ejs %>
